/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}






html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.formularito {
    width: calc(50% - 10px) !important;
    height: fit-content !important;
    border: #6D6D6D;
    border-bottom: 1px solid #e3e3e3;
    display: block;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    background: #FFF;
    float: left;
    cursor: pointer;
    color: cornflowerblue;
    font-weight: bolder;
    margin-left: 20%;
}

.modalito {
    width: max-content /* calc(90% - 40px)*/ !important;
    height: inherit !important;
    border: none;
    border-bottom: 1px solid #e3e3e3;
    display: block;
    padding: 8px 5px;
    text-align: left;
    text-decoration: none;
    background: #FFF;
    float: left;
    cursor: pointer;
    color: #5d5d5d;
    font-weight: bold;
    margin-left: 20%;
}



.codigoOTP {
    position: initial;
    width: 200px;
    height: 200px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}





    .codigoOTP span {
        color: #6D6D6D;
    }



    .codigoOTP button:active {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    }


.hola {
    width: calc(60% - 20px) !important;
    height: fit-content !important;
    border: #6D6D6D;
    border-bottom: 1px solid #e3e3e3;
    display: block;
    padding: 8px 5px;
    margin-left: 20%;
}

.BotonGenerar {
    margin-left: 25%;
    margin-right: 5%;
}

.BotonReenviar {
    margin-left: 5%;
}


.hola p {
    font-size: medium;
    font-weight: 100;
    color: cornflowerblue;
    font-weight: bold;
}

.Donde {
    font-size: medium;
    font-weight: 100;
    color: #5d5d5d;
    font-weight: bold;
    text-align: center;
}


.vamos {
    margin-left: 0%;
}


.LetraSelect1 {
    font-size: medium;
    font-weight: 100;
    color: dimgray;
    font-weight: lighter;
}

.LetraSelect2 {
    font-size: medium;
    font-weight: 100;
    color: dimgray;
    font-weight: lighter;
}




.parrafo {
    font-size: larger;
    font-weight: 100;
    color: black;
    font-weight: normal
}

/*_________________________________________--------------------_______________________*/

.LetraSelect3 {
    font-size: medium;
    font-weight: 100;
    color: dimgray;
    font-weight: lighter;
}


.Digitos {
    width: calc(110% - 80px) !important;
    height: fit-content !important;
    text-align: center;
    margin-left: 0%;
}

.Aviso {
    font-size: medium;
    color: red;
}

.BtnCerti {
    width: max-content calc(90% - 40px) !important;
    height: inherit !important;
    /*border: 3px solid #000000;*/
    /*border-bottom: 3px solid #000000;*/
    display: block;
    padding: 8px 5px;
    text-align: left;
    text-decoration: none;
    /*background: #00ff21;*/
    float: left;
    cursor: pointer;
    /*color: darkgreen;*/
    font-weight: bold;
    margin-left:5%;
    margin-right: 5%;
}

.BtnManu {
    width: max-content  calc(90% - 40px) !important;
    height: inherit !important;
/*    border: 3px solid #000000;
*/    /*border-bottom: 3px solid #000000;*/   
    display: block;
    padding: 8px 5px;
    text-align: left;
    text-decoration: none;
/*    background: #1b6ec2;
*/    float: left;
    cursor: pointer;
/*    color: darkblue;
*/    font-weight: bold;
    margin-right: 20%;
}

.BtnGenerar {
    width: max-content calc(90% - 40px) !important;
    height: inherit !important;
    /*    border: 3px solid #000000;
*/ /*border-bottom: 3px solid #000000;*/
    display: block;
    padding: 8px 5px;
    text-align: left;
    text-decoration: none;
    /*    background: #1b6ec2;
*/ float: left;
    cursor: pointer;
    /*    color: darkblue;
*/ font-weight: bold;
    margin-left: 0%;
    
}

.LogoHdi{
    margin-left:80%;
}


.LogoHdi2 {
    margin-left: 80%;
}