@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Consultar Certificados <a href="/Home/IndexCertificado">Consulta y Genera tus Documentos</a>.</p>
</div>*@


<br />
<br />

<div class="LogoHdi">
    <img src="~/img/logo-hdi.bf5f414bfee0.svg" class="img-fluid" alt="Ejemplo de imagen">
</div>

<br />
<br />



  <div class="Contenedor">
        <div>

            <hr style="border: 2px solid green;" />

            <button type="button" class="BtnCerti btn btn-outline-success " onclick="window.location.href='/Home/IndexCertificado'">Consultar Certificados</button>

            <button type="button" class="BtnManu btn btn-outline-secondary " onclick="window.location.href='https://www.hdi.com.co/media/documents/Manual_generar_certificados_de_retencion.pdf'">Consultar el Manual-></button>
            
            

        <br />
        <br />
        <br />
           
  
        </div>

        <div class="row">
            <div class="col-lg-12">
                <img src="~/img/Banner.jpg" class="img-fluid" alt="Ejemplo de imagen">

            </div>
        </div>

        <br />
        <br />
        

    <hr style="border: 2px solid crimson;" />

  </div>